
.stage {
  animation: animateBg 2s infinite linear;
  background-color: #fff;
  background-image: linear-gradient(90deg, #da3287, #ffde5e, #da3287, #ffde5e);
  background-size: 300% 100%;
  box-shadow: 0 3px 14px #000;
  border-radius: 1rem;
  height: auto;
  width: 90%;
  padding-top: 10px;
}
@keyframes animateBg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}
.pp {
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

a {
  text-decoration: none;
}

.WP {
  background-color: green;
  color: white;
  border-radius: 10px;
 padding: 5px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}

span > img {
  height: 400px;
  border-radius: 10px;
  padding-bottom: 50px;
}